<meta charset="UTF-8">
<script src="https:unpkg.com/vue"></script>

<div id="app">
   <ul>
       <li v-for="(cor, i) in cores">{{ i + 1 }}) {{ cor }}</li>
   </ul>

   <hr>

   <template v-for="(cor, i) in cores">
       <h1>{{ cor }}</h1>
       <p>{{ i }} - </p>
   </template>
</div>

<script>
    new Vue({ 
        el: '#app',
        data:{
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Deborah', idade: 10, peso: 40 },
                { nome: 'Gustavo', idade: 18, peso: 75 }
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }

    h1, p {
        display: inline;
    }
</style>